<h2>Tickets</h2>
<ul class="actions">
  <li>
    <%= link_to 'New Ticket', new_project_ticket_path(@project),
                class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </li>
</ul>

<% title @project.name, 'Projects' %>

<%= render @project %>

<%= link_to 'Edit Project', edit_project_path(@project),
            class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
<%= link_to 'Delete Project', project_path(@project),
            class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium",
            method: :delete,
            data: { "turbo-method": :delete, turbo_confirm: 'Are you sure you want to delete this project' } %>
<%= link_to 'Back to projects', projects_path,
            class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>

<ul class="tickets">
  <% @project.tickets.each do |ticket| %>
    <li>
      #<%= ticket.id %> - <%= link_to ticket.name, [@project, ticket] %>
    </li>
  <% end %>
</ul>